body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buscadas {
  background-color: rgb(221, 145, 5);
}

.premium {
  background-color: black;
}

.card {
  border-radius: 10px;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.total {
  font-weight: bold;
}
